// section main

.main {
    height: 100vh;
    width: calc(100% - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 80px;

    .principal {
        width: 50%;
        margin-right: 7px;
    
        h1 {
            font-weight: bold;
            font-size: 66px;
            line-height: 81px;
            min-width: 437px;
        }
        
        span {
            background: linear-gradient(97.86deg, #FF8D8D -38.38%, #F7FC0E 71.88%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        p {
            font-size: 16px;
            line-height: 25px;
            text-align: left;
            width: 500px;
        }
        button {
            margin: 10px;
        }
    }
}


.main .secundario {
    width: calc(50% - 7px);
    display: flex;
    justify-content: center;
    position: relative;
    .glass {
        position: absolute;
        top: 367px;
        left: -82px;
        display: flex;
        justify-content: center;
        border: 1px solid #fff;
        border-radius: 7px;
        background-color: rgba(255, 255, 255, .4);
        backdrop-filter: blur(18px);
        padding: 40px 30px;
    }
    .img1 {
        width: 188px;
        height: 34px;
    }
    .img2 {
        width: 170px;
        height: 34px;
        margin: 0 35px;
    }
    .img3 {
        width: 150px;
        height: 27px;
    }
    img {
        width: 480px;
        height: 515px;
        display: flex;
    }
}

@media (max-width: 576px) {
    .main {
        margin: 0;
        width: 100%;
        height: auto;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .main .principal {
        width: 100%;
        margin-right: 0;
        padding: 10px 7px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        h1{
            font-size: 56px;
            min-width: 300px;
            // text-align: center;
        }
        p{
            width: auto;
            text-align: justify;
        }
    }
    .main .secundario {
        width: 100%;
        margin: 20px 0 60px;
        
        .glass {
            // display: none;
            width: 100%;
            top: 382px;
            left: 3px;
            height: 60px;
            align-items: center;
            justify-content: space-around;
            padding: 0 10px;
            background-color: rgba(255, 255, 255, 0.7);
            backdrop-filter: blur(12px);

            .img1 {
                width: 125px;
                height: 25px;
            }
            .img2 {
                width: 110px;
                height: 23px;
            }
            .img3 {
                width: 90px;
                height: 20px;
                padding-bottom: 2px;
            }
        }
        img {
            translate: 3%;
        }
    }
    .main .secundario img{
        width: 350px;
        height: 380px;
        // padding-top: 10px;

        &:nth-child(2){
            margin: 0 10px;
        }
    }
}

