// Marketplace

.market {
    h2 {
        display: flex;
        justify-content: center;
        font-size: 53px;
    }

    .market-list {
        display: flex;
        justify-content: center;
        padding-top: 60px;

        .market-list-item {
            list-style: none;
            transition: transform 0.5s;
            
            &:hover {
                transform: scale(1.11);
            }
            
             a {
                text-decoration: none;
                margin: 0 5px;
            }
        }
    }
    .galeria-market {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 33px;
        grid-row-gap: 51px;
        margin: 45px 80px 0;

        img {
            align-items: center;
            width: 230px;
            height: 240px;
            margin-bottom: 5px;
        }
        
        .polaroide {
            position: relative;
            display: flex;
            flex-direction: column;
            min-height: calc(425px - 20px - 4px);
            padding: 10px;
            border-radius: 20px;
            border: 2px solid transparent;
            background-color: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(4px);
            transition: all 0.7s ease;
                
            .infos-bloco {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                width: 100%;
                padding: 0 20px;

                .infos {
                    display: flex;
                    flex-direction: column;
                
                    h3{
                        font-size: 21px;
                        font-weight: 400;
                    }
                    p{
                        padding-top: 4px;
                        font-size: 11px;
                        opacity: .5;
                    }
                }
                
                .price {
                    display: flex;
                    align-items: center;
                    
                    
                    h4{
                        font-size: 21px;
                        background: linear-gradient(97.86deg, #FF8D8D -38.38%, #F7FC0E 71.88%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
            }

            .galeria-imagem {
                width: 100%;
                height: 307px;
                margin-bottom: 25px;
                border-radius: 14px;
                object-fit: cover;
                object-position: center;
                transition: height .5s .2s;
            }
            
            .buy {
                position: absolute;
                width: calc(100% - 16px - 3px);
                bottom: -30px;
                opacity: 0;
                margin-top: 10px;
                font-family: 'Roboto', sans-serif;
                font-size: 19px;
                font-weight: 500;
                line-height: 23px;
                transition: .5s;
            }
            
            &:hover {
                border: 2px solid #FFFFFF;
                
                .galeria-imagem {
                    height: 232px;
                    transition: height .5s;
                }
                
                .buy {
                    bottom: 10px;
                    opacity: 1;
                    transition: .5s .2s;
                }
            }
        }
    }
    
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 25px;
    }

    @media (max-width: 576px) {
        // market
        height: auto;
        
        h2 {
            font-size: 33px;
        }
        .market-list{
            flex-wrap: wrap;
        }
        .market-list-item{
            margin: 11px 1px;
        }
        .galeria-market{
            display: flex;
            flex-direction: column;
            grid-row-gap: 16px;
            margin: 45px 60px 0;
        }
        .polaroide:nth-child(even){
            display: none;
        }
    }
}


.button-ul-market {
    padding: 8px 12px;
    color: #fff;
    background: linear-gradient(97.86deg, #89C6FF -38.38%, #3633D0 71.88%);
    border-radius: 30px;
    border: none;
}

.button-market {
    width: 90%;
    padding: 16px 16px;
    color: #fff;
    background: linear-gradient(97.86deg, #89C6FF -38.38%, #3633D0 71.88%);
    border-radius: 10px;
    border: none;
}
